body{
  margin : 0;
  background: #F2F3F4;
  color:black;
}

a{
  text-decoration-line: none;
  color : #aa8241;
}

.title{
  text-align:center;
  margin-top: 5%;

}

.title_sub {
  text-align: center;
}
.title_image{
  width: 100px;
  vertical-align: middle;
}
.navbar{
  float:right;
  background-color:#F2F4F4;
  padding: 20px;
}
.down_bar{
  float:right;
  font-size:15px;
  margin-right:10px;
}
.plus_link_layout{
  margin: 20px auto;
  width: 100px;
  background: white;
  color: white;
  border-radius:10px;
  border-style:dotted;
  border-color: grey;
  text-align:center;
  cursor:pointer;
  padding:10px;
}
.link_layout{
  margin: 20px auto;
  width: 200px;
  background: white;
  color: grey;
  border-radius:10px;
  text-align:center;
  padding:10px;
  height:30px;
}
.des_container{
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-direction: column; /* 수직 정렬을 강제 */
  margin: 20px auto;
  width: 600px;
  background: white;
  color: grey;
  border-radius:10px;
  text-align:center;
  padding:10px;
}
.createButton{
  background: white;
  color: grey;
  border-radius:5px;
  text-align:center;
  margin-left:10px;
  width:20%;
  font-size:18px;
  height:100%;
  cursor: pointer;
  border: 0px;
}
.joinButton{
  background: white;
  color: grey;
  border-radius:5px;
  text-align:center;
  margin-left:10px;
  width:5%;
  height:100%;
  cursor: pointer;
  border: 0px;
}
.link_image{
  width: 30px;
  margin-right:5px;
  vertical-align: middle;
}
.bold{
  font-weight: bold;
}

.center-text {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}