body{
  margin : 0;
  background: #F2F3F4;
  color:black;
}

a{
  text-decoration-line: none;
  color : #aa8241;
}

.title{
  text-align:center;
  margin-top: 5%;

}

.title_sub {
  text-align: center;
}
.title_image{
  width: 100px;
  vertical-align: middle;
}
.navbar{
  float:right;
  background-color:#F2F4F4;
  padding: 20px;
}
.down_bar{
  float:right;
  font-size:15px;
  margin-right:10px;
}
.plus_link_layout{
  margin: 20px auto;
  width: 200px;
  background: white;
  color: white;
  border-radius:10px;
  border-style:dotted;
  border-color: grey;
  text-align:center;
  padding:10px;
}
.link_layout{
  margin: 20px auto;
  width: 200px;
  background: white;
  color: grey;
  border-radius:10px;
  text-align:center;
  padding:10px;
  height:30px;
}

.link_image{
  width: 30px;
  margin-right:5px;
  vertical-align: middle;
}